<h3>Click "New List" to create a new todo list. Click on a list to view, edit or add todos.</h3>
<ul id="lists">
  <% sort_list(@lists) do |list, idx| %>
      <li class=<%=list_class(list)%>>
        <a href="/lists/<%= idx %>">
        <h2><%=list[:name]%></h2>
        <p><%=remaining_todos(list)%> / <%=todos_count(list)%></p>
        </a>
      </li>
  <% end %>
</ul>
<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>
